name: Lint
on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        working-directory: .
        run: npm i
        shell: bash
      - name: Check TypeScript (Frontend)
        working-directory: ./frontend
        run: npx tsc --noEmit
        shell: bash
      - name: Run ESLint (Frontend)
        working-directory: ./frontend
        run: npm run lint
        shell: bash
      - name: Run ESLint (Backend)
        working-directory: ./backend
        run: npm run lint
        shell: bash
      - name: Check TypeScript (Backend)
        working-directory: ./backend
        run: npx tsc --noEmit
        shell: bash